.root{
	-fx-background-color: #212121;
}

.label, .button{
	-fx-text-fill: #ffffff;
}

.button{
	-fx-border-width: 0px;
	-fx-background-color: #282828;
}

.button:hover{
	-fx-background-color: #424242;
}

.button:pressed{
	-fx-background-color: #494949;
}